/*
 *Name: Alex Zettlemoyer
 *UnityID: alzettle
 *Date: 9/18/2020
 *Assignment: Website Design and Styling Independent Assignment
 *Description: Independent Assignment, Alex's professional page.
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #000000;
}


.table-border {
    border: 2px solid #000000 ;
}

#photo-resize {
    max-width: 200px;
    max-height: 250px;
    border: 2px solid #90EE90;
}
